.separator {
  padding: 1em 0;
}

@keyframes fadeInAnimation {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0);
  }
}

.title {
  box-shadow: 0 0 9px #000000f2;
  width: 100%;
  padding-top: 8px;
  background-color: #20599a;
  color: white;
}

.titleH3 {
  font-weight: bold;
  font-size: larger;
  text-align: center;
  margin-bottom: 20px;
}

.fadeIn {
  animation: 1s ease-out 0s 1 fadeInAnimation;
}

.visualizationOuterWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.visualizationOuterWrapper:nth-child(2n) {
  background-color: #f5f5f5;
}

.visualizationInnerWrapper {
  align-items: center;
  width: 80%;
}
