.graphSlider {
  flex-basis: 80%;
}

.graphSvg {
  padding: 10px;
}

.slider {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
}

.sliderInput {
  width: 95%;
  margin-left: 10px;
  margin-right: 10px;
}

.sliderDate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
