@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.visualization {
  background-color: white;
}

.visualization-svg-content {
  pointer-events: none;
  will-change: transform;
}

.visualization-svg-content path {
  stroke-width: 1;
  stroke: white;
  fill: #7f7f93;
}

.slider-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.info-box {
  max-width: 20%;
  padding: 2px;
}

.slider {
  background-color: white;
}

.slider-svg {
  padding: 10px;
}

#year-slider {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
}

#year-slider input[type="range"] {
  width: 95%;
}


/*------Bi-variate Palette Wrapper-----*/

.wrapper {
  width: 20vw;
}

.palette-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: #fcfcfc;
}

.palette-outer-item {
  display: flex;
  flex-direction: row;
}

.matrix-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: stretch;
  width: 70%;
  aspect-ratio: 1;
}

.matrix-item {
  width: 33.333%;
  height: 33.333%
}

.arrow-car-item {
  width: 30%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.arrow-car-item svg {
  height: 100%;
}

.filler-item {
  width: 30%;
}

.arrow-bike-item {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bike-icon {
  transform: translateY(-50%);
  width: 35%;
}

.car-icon {
}
